<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
        <head>  <meta charset="UTF-8">
                <title> Admin Pannel</title>
                <link rel="stylesheet" href="../static/admin.css">
        </head>
        <body>
                <div id="searchcontent">
                        <p>Enter a username to check if it exists !</p>
                        <form method="GET" action="/admin">
                                <input name="username" id="user" type="text" placeholder="Username"><br><br>
                                <button type="submit" >Submit </button>
                                <!-- Est tu sur d'etre au bon endroit ? -->
                        </form>
                </div>
        </body>
</html>