<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
        <head>  <meta charset="UTF-8">
                <title> Greetings </title>
                <link rel="stylesheet" href="../static/greetings.css">
                <script src="../static/greetings.js"></script>
        </head>
        <body>
                <div id="greet_text">
                        <p>Hello <span id="greeting">... </span>!<br><br> Welcome to this amazing web app !</p>
                        
                </div>
                <div id="links">
                        <a href="/readfile?file=log1.txt"> Check log file 1</a>
                </div>
        </body>
</html>